<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'first_app/assets/css/bootstrap.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>

    {% block body_block %}

    {% endblock %}




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'first_app/assets/js/bootstrap.min.js' %}"></script>
  </body>
</html>